body {
  font-family: 'Muli', sans-serif;
  padding-top: 50px;
  background-color: #F9FDFD;
  color: #242324;

 }
/**
*Fonts
 **/

h1, h2, h3, h4, h5, h6, p, div, article{
  color: #242324;
}

h1, h3{
  padding: 0 15px 0 15px;
}

/**
*Logo, Header
**/
#header_img{
  width: 100%;
}

img#logo {
  float: left;
  position: absolute;
  width: 14%;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Saira Extra Condensed', sans-serif;
}


/**
*Navbar
**/
.navbar-inverse, .navbar {
  background-color: #88B4CA;
  border-color: #88B4CA;
}
ul.nav.navbar-nav {
  font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #F9FDFD;
}

ul.nav.navbar-nav {
  float: right;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.active{
  color: #242324;
  background-color: #B8D5EA;
}

ul.nav.navbar-nav li {
  width: 165px;
  text-align: center;
}

@media screen and (max-width: 767px){
  ul.nav.navbar-nav li,
  ul.nav.navbar-nav{
    width: 100% !important;
    float: none;
  }
}

/**
*Content
**/

.container {
  margin-top: 25%;
}

.home_text {
  margin-top: 10%;
}

article.hreview.open.special a {
  text-decoration: none;
  color: #242324;
}

.panel-default,
.form-horizontal{
  margin-top: 25px;
}
/**
*Footer
**/
footer .container{
  display: flex;
}

footer{
  background-color: #88B4CA;
  color: #F9FDFD;
  height: 60px;
  line-height: 60px;
  bottom: 0;
  width: 100%;
}
.copyr {
  width: 87%;
}

.footer_info p {
  display: inline-block;
}

.footer_info p:first-child{
  margin-right: 20px;
}

/**
*Home Boxes
**/
.panel-default>.panel-heading {
  color: #242324;
  background-color: #88B4CA;
  border-color: #242324;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #242324;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}