body {
   padding-top: 50px;
 }
/**
*Fonts
 **/

h1{
  padding-left: 15px;
  padding-right: 15px;
}

/**
*Logo, Header
**/
#header_img{
  width: 100%;
}

img#logo {
  float: left;
  position: absolute;
  width: 14%;
}

/**
*Navbar
**/
.navbar-inverse, .navbar {
  background-color: #88B4CA;
  border-color: #88B4CA;
}
.navbar-inverse .navbar-nav>li>a {
  color: #F9FDFD;
}

/**
*Content
**/

.container {
  margin-top: 25%;
}

/**
*Footer
**/
footer .container{
  display: flex;
}

footer{
  background-color: #88B4CA;
  color: #F9FDFD;
  height: 60px;
  line-height: 60px;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.copyr {
  width: 87%;
}

.footer_info p {
  display: inline-block;
}

.footer_info p:first-child{
  margin-right: 20px;
}

